<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrar </ion-title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3 align="center" style="font-weight: bold">Ingresa tus datos</h3>
  <img
    style="border-radius: 10%; margin: 5% 0% 5% 15%"
    width="65%"
    alt="Silhouette of mountains"
    src="assets/img/register.jpg"
  />
  <ion-list>
    <ion-item fill="floating">
      <ion-label position="floating">
        <ion-icon name="mail-outline"></ion-icon> Correo</ion-label
      >
      <ion-input
        type="mail"
        placeholder="ingrese correo electronico"
        minlength="3"
        maxlength="256"
        required
        [(ngModel)]="user.email"
      >
      </ion-input>
    </ion-item>

    <ion-item fill="floating">
      <ion-label position="floating">
        <ion-icon name="lock-closed-outline"></ion-icon>
        contraseña
      </ion-label>

      <ion-input
        type="password"
        placeholder="ingrese contraseña"
        minlength="3"
        maxlength="10"
        required
        [(ngModel)]="user.password"
      ></ion-input>
    </ion-item>

    <ion-button style="margin: 10% 0 0 20%" (click)="register(user)">
      INGRESAR
      <ion-icon slot="end" name="arrow-forward-circle-outline"></ion-icon>
    </ion-button>
  </ion-list>
</ion-content>
